head{
    text-align: center;
}
body{
    text-align: center;
    background: url(./resources/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.type1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-weight: 1000;
    color: rgba(0,133,255,1.00);
}
footer{
    font-style: normal;
    font-size: 4mm;
    clear: both;  
    display: block;  
    text-align: center;   
    margin: 0px auto;  
    bottom: 0px;  
    width: 100%; 
}
board{
    border-radius: 20px;
    background: #73AD21;
    padding: 0px; 
    width: 20px;
    height: 150px; 
}